{% load static %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="{% static 'css/detail.css' %}">
<h1>{{ person.face }}</h1>
<div>
  <img src="data:image/png;base64,{{ img_str }}" alt="Cannot load image" ><br>
  <img class='graph' src="data:image/png;base64,{{ graph }}" alt="Cannot load image" >
</div>
<ul>
  {% for p in person.emotion_detail %}
    <li> 
      <div>
        {{ p.timestamp }}
        <img src="data:image/png;base64,{{ p.emotion }}" alt="Cannot load image" >
      </div>  
    </li>
  {% endfor %}
</ul>